@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans:opsz,wght@9..40,600&display=swap");
    * {
        margin: 0px;
        padding: 0px;
    }
    .topContent {
        color: white;
        width: 100%;
        height: calc(100vh - 1em);
        background: #ff8482;
        padding-top: 1em;
        .topMain{
            width: 60%;
            margin: 10vh 20%;
            .mainLeft{

  margin: 0;
  padding: 0;
            }
            .mainRight{

            }
        }
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        #logoHeader {
            font-family: Alfa Slab One;
            font-size: 40px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0px;
            text-align: left;
        }
        #midHeader {
            display: flex;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            h4:first-of-type {
                margin-right: 2em;
            }
        }
        #headerButton {
            button {
                padding: 1em 4em;
                background-color: #ff8482;
                border: 0.2px solid white;
                border-radius: 0.3em;
                color: white;
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0px;
                transition-duration: 0.4s;
            }
            button:hover {
                background-color: white;
                color: #ff8482;
            }
        }
    }
